#local-search-result
    scroll:auto
    overflow:auto
    max-height:10in
    background-color: #fff
    margin-bottom: 10px

ul.search-result-list
    padding-left: 10px

a.search-result-title
    font-weight: bold
    font-size: 140%

p.search-result
    color=#555
    font-size: 115%

em.search-keyword
    border-bottom: 1px dashed #4088b8
    font-weight: bold
    font-size: 125%