<span class="h1"><a href="#">Index</a></span>
    <div class="content" itemprop="articleBody">
        <span class="widget tagcloud">
            <%- tagcloud({
              min_font: 12,
              max_font: 24,
              unit: 'px',
              amount: 0,
              orderby: 'name',
              order: 1,
              color: true,
              start_color: '#FFA500',
              end_color: '#FF4500',
              class: 'tag-cloud',
              level: 5,
              show_count: false,
              count_class: 'tag-count'
            }) %>
            
          </span>
    </div>