<% if (page.image) { %>
    <div>
      <img src="https://res.cloudinary.com/alchemist-cookbook/image/upload/w_200,f_auto/<%- page.image %>" style="border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);">
    </div>
  <% } else { %>
    <div>
      <img src="https://res.cloudinary.com/alchemist-cookbook/image/upload/w_200,f_auto/<%- page.title %>" style="border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);">
    </div>
  <% } %>
  