<% const imagePublicId = article_image_public_id(page); %>
<% if (imagePublicId) { %>
  <div>
    <img src="<%- site.data.resources.cloudinary_url %><%- site.data.resources.image_transform_200 %><%- imagePublicId %>" style="border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);">
  </div>
<% } %>
